
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jia:before { content: "\e616"; }
.icon-xinjianmokuai:before { content: "\e617"; }
.icon-qiyedongtai:before { content: "\e600"; }
.icon-fanhui:before { content: "\e611"; }
.icon-suo:before { content: "\e60a"; }
.icon-yaochi:before { content: "\e60b"; }
.icon-qingdantianbao:before { content: "\e601"; }
.icon-xitongrizhi:before { content: "\e61b"; }
.icon-data:before { content: "\e602"; }
.icon-bangzhu:before { content: "\e612"; }
.icon-caidanmenu:before { content: "\e603"; }
.icon-systemMg:before { content: "\e613"; }
.icon-rizhi1:before { content: "\e61c"; }
.icon-manage:before { content: "\e61d"; }
.icon-xiangqing:before { content: "\e60c"; }
.icon-Secheck:before { content: "\e60d"; }
.icon-gonggongxinxi:before { content: "\e60e"; }
.icon-chilun:before { content: "\e615"; }
.icon-icon25:before { content: "\e604"; }
.icon-lock:before { content: "\e61e"; }
.icon-user:before { content: "\e60f"; }
.icon-mimaicon:before { content: "\e605"; }
.icon-shujutongji:before { content: "\e610"; }
.icon-57qizhongjixiechanquanbeian:before { content: "\e606"; }
.icon-88:before { content: "\e614"; }
.icon-youjiantouquan:before { content: "\e607"; }
.icon-zuojiantouquan:before { content: "\e608"; }
.icon-xinzeng:before { content: "\e618"; }
.icon-xinjian1:before { content: "\e619"; }
.icon-tongxunlu:before { content: "\e609"; }
.icon-jzd_xinzeng:before { content: "\e61a"; }
.icon-tables:before { content: "\e620"; }
.icon-xiugaimima:before { content: "\e61f"; }
.icon-zujianicon01:before { content: "\e621"; }
